{% extends "base.html" %}
{%load static%}
{%block content%}
<script>
    setInterval(() => {
        fetch('/getMessages/')
            .then(response => response.json())
            .then(dictionary => {
                items = dictionary['items']
                user = dictionary['user']
                text = ''
                for (item of items) {
                    if (item['owner'] == user) {
                        text += "<div class='message user'>"
                    }
                    else {
                        text += '<div class="message">'
                    }
                    text += '<p class="message-user">' + item['owner'] + '</p><p class="message-text">' + item['text'] + '</p></div>'
                }
                console.log(text)
                messages = document.getElementById('messages')
                messages.innerHTML = text
                messages.scrollTop = messages.scrollHeight;
            })

    }, 1000)
</script>
<div id="messages">
    {%for item in items %}
    {% if item.owner == request.user %}
    <div class="message user">
        {% else %}
        <div class="message">
            {% endif %}
            <p class="message-user">{{item.owner}}</p>
            <p class="message-text">{{item.text}}</p>
        </div>
        {%endfor%}
    </div>

    <form method="POST">{% csrf_token %}
        <input type="submit" value="save" name="send" id="name" style="display: none;">
        {% for field in addForm.visible_fields %}
        {{ field }}
        {% endfor %}
    </form>
    <script src="{% static '/js/message-scroll.js' %}"></script>
    <script>scrollToBottom()</script>
    {% endblock %}